<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>
          {{ site.description | escape }}
        </p>
        <ul class="inline">
          <li>{% include icon-github.html username=site.github_username %}</li>
          <li>{% include icon-twitter.html username=site.twitter_username %}</li>
          <li>{% include wikidata-link.html id=site.wikidata_item %}</li>
        </ul>
      </div>
    </div>

  </div>

</footer>
<script src="{{ "/assets/wikicite.js" | relative_url }}"></script>
