caption {
  display: table-caption;
  caption-side: bottom;
  text-align: left;
}
.wikidata-link {
  background: url("wikidata-logo.svg") center left no-repeat;
  padding-left: 20px;
  background-size: 16px;
}
ul.inline { 
  margin-left: 0; 
  display: inline-block;
}
ul.inline li {
  display:inline;
  padding-right: 10px;
}
#citation {
  background: #eee;
  padding: 0.5em;
  border-radius: 4px;
}
